/***
  *************************************用户中心**********
  */
.userCenter {
    margin-top: 50px;
}

.userCenterMobile {
    margin-top: 65px;
}

.userCenter .listMenu {
    margin-top: 15px;
}

#ycm-user-ListHeaderActive {
    border: 0px;
    border-left: 10px solid rgb(236, 38, 38);
    padding-left: 10px;
}

.userCenter .page-header {
    margin: 0px;
    font-weight: bold;
    color: #337AB7;
    border-bottom: 4px solid #337AB7;
}

.mobile .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.mobile .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.mobile .iconLogo {
    margin-right: 8px;
}

.mobile .arrowRight {
    float: right;
    margin-right: 5px;
}

.orderTab {
    width: 50%;
}
.userCenter .mdFont {
    font-size: 30px;
    margin-right: 15px;
}

.userCenter .h2 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.userCenter .formService {
    margin-top: 20px;
}

.formService textarea {
    height: 240px;
}

.userCenter .breadcrumb{
    padding: 2px 0px;
    margin: 6px 0px;
    font-size: 20px;
    background:#fff;
}

/* 只在平板即以上的屏幕上显示*/
@media screen and (min-width: 769px) {
    .userCenter .list-group a:hover, a.ycm-user-LinkFocus {
        color: #cc0101;
        text-decoration: underline;
    }
}


