/*
*/
.ycm_img_cont{ text-align: center;}
.ycm_img_cont img{width: 100%; max-width: 460px;}
.ycm_head{border-bottom: 1px dotted #dddddd;}
.ycm_cont{margin: 15px 0 0 20px;}
.ycm_buy_btn{ width: 160px;}
